body {
  background-color: rgb(41, 39, 39);
}

.App {
  text-align: center;
  height: 100%;
}

.header {
  margin: 3rem 0;
  color: white;
  font-size: 3rem;
  font-family: 'Nanum Gothic', sans-serif;
}

.container {
  width: 50%;
  margin: auto;
}

.line {
  height: 1px;
  width: 100%;
  background-color: white;
  margin: auto;
}

.input-container{
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.paragraphs-count-label {
  margin: 0 0 1rem 0;
  color: white;
  font-family: 'Nanum Gothic', sans-serif;
  
}

.input-div {
  display: inline-block;
  margin: 2rem;
}

.input-div select {
  padding: .2rem;
}

.content-container {
  color: white;
  background-color: rgb(71, 70, 70);
  padding: 3rem;
  border-radius: 1rem;
}
